<header class="">
    <div class="container">
        <div class="header">
            <span class="logo">
                
            </span>
            <nav class="navigation">
                <ul>
                    <li>
                        <a class="navigation-link" href="/songs">All Songs</a>
                    </li>
                    <li>
                        <a class="navigation-link" href="/artist">Artists</a>
                    </li>
                    <li>
                        <a class="navigation-link" href="/genre">Genre</a>
                    </li>
                    <li class="vertical_separator"></li>
                    <li>
                        <a class="navigation-link" href="/playlists">My Playlists</a>
                    </li>
            </nav>
            <div class="profile_icon-mobile">
                <div class="container-togg" onclick="toggler(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </div>
        </div>
        <div id="mySidenav" class="sidenav">
            <ul>
                <li>
                    <a class="navigation-link" href="/playlists">My Playlists</a>
                </li>
                <li>
                    <a class="navigation-link" href="/songs">All Songs</a>
                </li>
                <li>
                    <a class="navigation-link" href="/artist">Artists</a>
                </li>
                <li>
                    <a class="navigation-link" href="/genre">Genre</a>
                </li>
            </ul>
        </div>
    </div>
</header>