<!-- This code block defines the navigation bar of the webpage -->
<nav>
    <ul>
      <!-- This line defines the brand logo and text -->
      
      <ul>
          <li class="brand" ><img src="../Spotify-songs/logo.png" alt="Spotify" /> <a href="/">SpotiNode</a></li>
          <li class="header"><a href="/songs" >Add Song</a></li>
          <li class="header"><a href="/songs" >All Songs</a></li>
          <li ><a href="/artist">Artists</a></li>
          <li class="header"><a href="/genre" >Genre</a></li>
          <li ><a href="/playlists">My Playlists</a></li>
      </ul>
    </ul>
  </nav>